<section
    class="home-hero bg-relacje-color-dark lg:min-h-[850px] lg:h-screen flex flex-row flex-nowrap content-end items-end lg:pb-0 relative before:bg-gradient-to-r before:absolute before:inset-0 before:from-relacje-color-dark/100 before:from-40% before:to-relacje-color-dark/30 before:to-70% before:z-20 mb-28 lg:mb-36">
    <div class="container mx-auto relative z-40 px-8 pt-[200px] pb-[100px] lg:pt-0">
        <div class="flex flex-row gap-16 lg:max-w-3xl">
            <div class="self-end hidden lg:block transition-all delay-150 duration-200 hover:translate-y-4">
                <a href="#relacje-home-first">
                    <svg width="16" height="118" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.99996 0.99138C7.9952 0.439115 7.54364 -0.00472368 6.99138 3.71933e-05C6.43912 0.00479806 5.99528 0.456356 6.00004 1.00862L7.99996 0.99138ZM7.29901 117.713C7.69289 118.1 8.32603 118.095 8.71317 117.701L15.022 111.282C15.4092 110.889 15.4037 110.255 15.0098 109.868C14.616 109.481 13.9828 109.487 13.5957 109.88L7.9878 115.586L2.2824 109.978C1.88852 109.591 1.25538 109.596 0.868234 109.99C0.481091 110.384 0.486549 111.017 0.880425 111.404L7.29901 117.713ZM6.00004 1.00862L7.00003 117.009L8.99996 116.991L7.99996 0.99138L6.00004 1.00862Z"
                            fill="white" />
                        <path d="M7 1L7 21" class="stroke-relacje-color-accent" stroke-width="2"
                            stroke-linecap="round" />
                    </svg>
                </a>
            </div>
            <div>
                <h1 class="text-white mb-8 lg:mb-12">
                    Bezstresowe video
                </h1>
                <div
                    class="prose leading-normal prose-lg lg:prose-xl prose-p:text-white/70 prose-heading:text-white/70 prose-strong:text-white/70 mb-8 lg:mb-12">
                    <p><strong>Lat magna elementum justo phasellus. Porta tortor viverra feugiat quis in massa amet mi
                            ultrices. Risus at bibendum nibh.</strong></p>
                    <p>
                        Eu et arcu amet arcu urn.
                    </p>
                </div>
                <div class="flex flex-row lg:gap-8 gap-4">
                    <a href="" class="relacje-button group bg-white text-relacje-color-dark">
                        Więcej
                        <svg class="absolute right-5 top-2/4 -mt-[9px] group-hover:fill-relacje-color-accent" xmlns="http://www.w3.org/2000/svg" width="18"
                            height="18" viewBox="0 0 18 18" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                        </svg>
                    </a>

                    <a href="" class="relacje-button group bg-relacje-color-accent text-white">
                        Bez limitu
                        <svg class="absolute right-5 top-2/4 -mt-[9px]" xmlns="http://www.w3.org/2000/svg" width="18"
                            height="18" viewBox="0 0 18 18" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <ul class="flex flex-row flex-nowrap gap-4 lg:gap-8 content-center items-center mt-10 md:mt-12 lg:mt-20">
            <li>
                <a href="" target="_blank" class="inline-block hover:pb-1 transition-all duration-200"><img src="{{ theme.link }}/dist/images/relacje_tv_mini.svg" alt=""></a>
            </li>
            <li>
                <a href="" target="_blank" class="inline-block hover:pb-1 transition-all duration-200"><img src="{{ theme.link }}/dist/images/relacje_video_mini.svg" alt=""></a>
            </li>
            <li>
                <a href="" target="_blank" class="inline-block hover:pb-1 transition-all duration-200"><img src="{{ theme.link }}/dist/images/relacje_live_mini.svg" alt=""></a>
            </li>
            <li>
                <a href="" target="_blank" class="inline-block hover:pb-1 transition-all duration-200"><img src="{{ theme.link }}/dist/images/relacje_courses_mini.svg" alt=""></a>
            </li>
        </ul>

        <ul class="lg:flex flex-row flex-nowrap gap-4 hidden items-center text-sm text-white/60 absolute origin-right bottom-[95px] right-[45px] rotate-90">
            <li class="text-white/40">
                Bądź na bieżąco:
            </li>
            <li>
                <a href="" target="_blank" class="transition-all duration-200 text-white/60 hover:text-relacje-color-accent">Youtube</a>
            </li>
            <li>
                <a href="" target="_blank" class="transition-all duration-200 text-white/60 hover:text-relacje-color-accent">Linkedin</a>
            </li>
        </ul>
    </div>

    <img src="{{ theme.link }}/dist/images/hero-home-image.jpg" alt=""
        class="absolute z-10 top-0 right-0 object-cover h-full w-[60%]">
</section>