{% include 'views/parts/blocks/heros/hero-footer.twig' %}

{% set logo = Image(options.logo) %}

<footer id="footer" class="container delayed-scroll mx-auto grid grid-cols-1 lg:grid-cols-[25%_auto] gap-8 items-end relative lg:-mt-24 z-20 mb-0 lg:mb-24">
    <div class="p-8 lg:p-0 grid gap-8 grid-cols-1 order-2 lg:order-1">
        <p>
            <a href="{{ site.url }}">
                <img src="{{ logo }}" alt="">
            </a>
        </p>
        <p class="text-sm text-relacje-color-dark/60">{{ options.footer_description }}</p>

        <p class="text-sm">
            <span class="text-relacje-color-dark/40">©2024</span> <a href="{{ site.url }}" class="text-relacje-color-dark/60 transition-all delay-150 duration-200 hover:text-relacje-color-dark/80">Relacje.ai</a><br>
            <span class="text-relacje-color-dark/40">Made by</span> <a href="https://freshpixels.pl/" target="_blank" class="text-relacje-color-dark/60 transition-all delay-150 duration-200 hover:text-relacje-color-dark/80">FreshPixels</a><br>
        </p>
    </div>
    <div class="bg-relacje-color-dark p-8 lg:px-24 lg:py-24 text-white grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-16 order-1 lg:order-2">
        {% for item in menu.footer.items %}
        <div class="text-base text-white lg:tracking-[2px]">
            <p class="mb-8"><strong>{{ item.title }}</strong></p>
            <ul class="list-none">
                {% for child in item.children %}
                <li class="py-2">
                    <a href="{{ child.link }}" target="{{ child.target }}" class="transition-all delay-150 duration-200 text-white hover:text-relacje-color-accent inline-block hover:translate-x-1">
                        {{ child.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <div class="text-base text-white lg:tracking-[2px]">
            <p class="mb-8"><strong>Bądź na bieżąco</strong></p>

            <ul class="list-none">
            {% for entry in options.social_media %}
                <li class="py-2">
                    <a href="{{ entry.link }}" target="_blank" class="flex flex-row gap-4 items-center transition-all delay-150 duration-200 text-white hover:text-relacje-color-accent inline-block hover:translate-x-1">
                        <span>{% include "views/parts/icons/"~ entry.type ~".twig" with { 'fillPath': 'fill-white', 'HeightPath': 'h-auto', 'WidthPath': 'w-[19px]' } %}</span>
                        {{ entry.label }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</footer>

<section class="container p-8 lg:p-0 mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 items-center content-center relative mb-20 lg:mb-24">
    <div>
        <ul class="flex flex-col lg:flex-row flex-nowrap gap-4 lg:gap-8 content-center">
            <li class="text-sm text-relacje-color-dark/60">
                Poznaj nasze marki:
            </li>
            {% for brand in options.marki %}
            <li>
                <a href="{{ brand.link }}" target="_blank" class="inline-block hover:pb-1 transition-all duration-200"><img src="{{ Image(brand.logo).src }}" alt="{{ brand.name }}" class="w-auto h-[13px]"></a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="lg:justify-items-end">
        <img src="{{ theme.link }}/dist/images/KPO.svg" alt="">
    </div>
</section>